@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Love+Ya+Like+A+Sister&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header-logo__wrapper {
  width: 250px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo__wrapper {
  position: relative;
}
.logo__wrapper img {
  position: absolute;
  cursor: pointer;
}
.logo__wrapper img:last-child {
  position: absolute;
  top: 10.3px;
  left: 16.5px;
}
.header__wrapper h1 {
  color: rgba(64, 138, 126, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  align-self: center;
  cursor: pointer;
}
.header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log-in-btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 20px;
}
.header__link ul {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header__link ul li a {
  color: rgba(140, 140, 140, 1);
}
.header__link a:hover {
  color: rgba(64, 138, 126, 1);
}
.log-in-btn__wrapper button {
  padding: 6px 27px;
  border: 0;
  border-radius: 8px;
}
section {
  width: 100%;
  height: 130vh;
  background-image: url("./Pages/LandingPage/Components/img/bcLinearGradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.main__text__wrapper {
  width: 527px;
}
.home-page__contend {
  height: 80vh;
  display: flex;
  margin-top: -30px;
  align-items: center;
  justify-content: space-between;
}
.home__img img {
  width: 100%;
  margin-top: 110px;
  background-clip: content-box;
}
.home_page__wrapper {
  width: 100%;
  display: flex;
}
.home-page__contend {
  padding: 0 22px;
}
.home__title h1 {
  font-size: 30px;
  line-height: 55px;
  margin-bottom: 10px;
}
.home__title h1 span {
  color: rgba(64, 138, 126, 1);
  cursor: pointer;
}
.home__text {
  margin-top: 10px;
  color: rgba(176, 176, 176, 1);
  font-size: 15px;
}
