@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Love+Ya+Like+A+Sister&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header-logo__wrapper {
  width: 250px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo__wrapper {
  position: relative;
}
.logo__wrapper img {
  position: absolute;
  cursor: pointer;
}
.logo__wrapper img:last-child {
  position: absolute;
  top: 10.3px;
  left: 16.5px;
}
.header__wrapper h1 {
  color: rgba(64, 138, 126, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  align-self: center;
  cursor: pointer;
}
.header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log-in-btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 20px;
}
.header__link ul {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header__link ul li a {
  color: rgba(140, 140, 140, 1);
}
.header__link a:hover {
  color: rgba(64, 138, 126, 1);
}
.log-in-btn__wrapper button {
  padding: 6px 27px;
  border: 0;
  border-radius: 8px;
}
.home_page__wrapper {
  width: 100%;
  height: 90vh;
  background-image: url("./Pages/LandingPage/Components/img/bcLinearGradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.main__text__wrapper {
  width: 527px;
}
.home-page__contend {
  height: 80vh;
  display: flex;
  margin-top: -30px;
  align-items: center;
  justify-content: space-between;
}
.home__img img {
  width: 100%;
}
.home_page__wrapper {
  width: 100%;
  display: flex;
}
.home-page__contend {
  padding: 0 22px;
}
.home__title h1 {
  font-size: 30px;
  line-height: 55px;
  margin-bottom: 10px;
}
.home__title h1 span {
  color: rgba(64, 138, 126, 1);
  cursor: pointer;
}
.home__text {
  margin-top: 10px;
  color: rgba(176, 176, 176, 1);
  font-size: 15px;
}
.features-page {
  width: 100%;
  background-color: #f9f8fe;
  padding: 70px 0 90px 0;
}
.card_img {
  width: 70px;
  height: 70px;
  box-shadow: 0px 3px 50px 0px #408a7e1a;
  background-color: #ffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_img img {
  width: 35px;
  cursor: pointer;
}
.feature__title {
  width: 470px;
  padding: 0 20px;
  padding-bottom: 80px;
}
.feature__title h1 {
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 45px;
}
.feature__title .feature__text {
  color: #9a9a9a;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.feature__body {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.feature_card__wrapper .card-body {
  display: flex;
  gap: 25px;
}
.card-body .card_title h1 {
  color: #408a7e;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.card_title {
  width: 540px;
}
.card-body .card_title p {
  color: #b3b3b3;
}
.feature_card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.free_trail_page {
  width: 100%;
  height: 130vh;
  padding: 50px 0;
  background-image: url("./Pages/LandingPage/Components/img/free_trail.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.trail-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.month_or_year_btn__wrapper {
  padding: 10px 20px;
  display: flex;
  background-color: #fff;
  align-items: center;
  box-shadow: 0px 3px 50px 0px #0000001a;
  border-radius: 8px;
  gap: 10px;
}
.month_or_year_btn__wrapper button {
  padding: 10px 35px;
}
.trail-title {
  padding: 20px 0;
}
.trail-title h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
}
.trail-title span {
  color: #408a7e;
}
.trail-text {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.trail-text p {
  width: 1100px;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  color: #b3b3b3;
}
.get_start_btn {
  padding-bottom: 50px;
}
.trail_plan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trail_plan__wrapper .plan_title {
  padding-bottom: 30px;
}
.standart-trail_card_body {
  width: 320px;
  padding: 25px 20px;
  background-color: #408a7e;
  border-radius: 8px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  box-shadow: 0px 3px 50px 0px #0000001a;
  transition: 1s;
  position: relative;
}
.standart-trail_card_body:hover {
  box-shadow: 0 0 0 0;
  cursor: pointer;
}
.background-egg {
  width: 160%;
  z-index: 1;
  height: 570px;
  top: 60px;

  position: absolute;
  border-radius: 50%;
  background-color: #bafff41c;
}
.trail_crad__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trail_payment {
  display: flex;
  position: relative;
  color: #fff;
}
.trail_payment span {
  font-family: "Noto Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
}
.trail_payment p {
  position: absolute;
  top: -30px;
  left: -14px;
}
.trail_card_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trail_card_title .card_text {
  text-align: center;
}
.news_card {
  padding: 28px 25px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  row-gap: 10px;
}
.coming_soon_btn__wrapper {
  padding: 20px 0 0 0;
}
.coming_soon_btn__wrapper button {
  width: 100%;
  padding: 11px 20px;
  border-radius: 39px;
  box-shadow: 0px 3px 50px 0px #0000001a;
}
.news_card .card_list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.advanced_card,
.basic_card {
  background-color: white;
}
.advanced_card .news_card,
.basic_card .news_card {
  background-color: #f9f8fe;
}
.white_color {
  color: #fff;
}
.green_color {
  color: #408a7e;
}
